.mainDiv {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainDiv h2 {
  font-size: 50px;
  color: white;
  font-weight: 400;
  font-style: italic;
}
.mainDiv .message {
  color: gray;
  font-style: italic;
  font-size: 18px;
}
